.about__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}



.about__inner img{
    width: 100%;
}



.about__text{
    color: #3A3A3A;
text-align: center;
font-family: "Inter";
font-size: 18px;
font-weight: 400;
max-width: 430px;
margin-left: 110.1px;
}



.about__text h3{
    color: #1B3755;
text-align: center;
font-family: "Inter";
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
}